<%= bootstrap_form_for(@blog, layout: :horizontal) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :blog_name %>

  <%= f.fields_for :user do |q| %>
    <%= q.text_field :name %>
    <%= q.label :email %>
    <%= q.text_field :email %>
    <%= q.label :password %>
    <%= q.password_field :password %>
    <%= q.label :password_confirmation, "Confirmation" %>
    <%= q.password_field :password_confirmation %>
  <% end %>

  <%= f.submit %>

<% end %>
