<div class="form-container">
<%= bootstrap_form_for(@blog, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :blog_name %>

  <%= f.fields_for :user do |q| %>
    <%= q.text_field :name %>
    <%= q.text_field :email %>
    <% if params[:action] == "edit" %>
      <%= q.file_field :avatar %>
      <% end %>
    <%= q.password_field :password %>
    <%= q.password_field :password_confirmation %>
  <% end %>

  <%= f.submit %>

<% end %>
</div>
