    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <%= link_to base_title, blog_path(@blog), class: "navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", blog_path(@blog) %></li>
            <% if logged_in? %>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
             <li><%= link_to 'New Post', new_blog_post_path(@current_user.blog) %></li>
             <li><%= link_to 'Edit Style', edit_blog_style_path(@current_user.blog, @style) %></li>
             <li><%= link_to 'Edit Blog', edit_blog_path(@current_user.blog) %></li>
             <li><%= link_to 'Change Password', edit_password_path(@current_user.blog) %></li>
            <% else %>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<% if header_image? %>
<% if @header_image_on == true %>

<div class="header-image" style="background-image:url(<%= header_image %>)">
  <div class="header-image-text">
    <div class="text-center header-h1">
      <%= @blog.blog_name %>
    </div>
    <div class="header-lead text-center">
      <%= @blog.status %>
    </div>
  </div>
</div>
<% end %>
<% end %>