        <div class="col-sm-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">


<div class="blog-post-text">
 <!-- <p class="text-center">
  <strong>Name:</strong>
  <strong><%= @user.name %></strong>
</p>-->

<!--<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>-->
 <span class="sidebar-title"><strong>About <%= @user.name %>:</strong></span>
<div class="image-container">
 <%= image_tag(@user.avatar, :class => "avatar img-circle img-thumbnail") if @user.avatar.present? %>
</div>


              <span class="sidebar-content"><%= @blog.about %></span>

            </div>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">

    <% @post_months.sort.reverse.each do |month, posts| %>

    <li><%= link_to month.strftime("%B %Y"), month_index_path(@blog, month.strftime("%m"), month.strftime("%Y")) %></li>

    <% end %>

            </ol>
          </div>
          <!--<div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>-->
        </div><!-- /.blog-sidebar -->