<main>
    <section id="slide-1" class="slide">
        <div class="tint"></div>
        <div class="slide-background" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Sign Up Here</h1>
                    <%= bootstrap_form_for(@blog) do |f| %>
                    <% if @blog.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
                        <ul>
                            <% @blog.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>
                    <%= f.text_field :blog_name, hide_label: true, placeholder: "Blog Name" %>
                    <% if params[:action] == "edit" %>
                    <%= f.text_field :status %>
                    <% end %>
                    <%= f.fields_for :user do |q| %>
                    <%= q.text_field :name, hide_label: true, placeholder: "Full Name" %>
                    <%= q.text_field :email, hide_label: true, placeholder: "Your Email" %>
                    <% if params[:action] == "edit" %>
                    <%= q.file_field :avatar %>
                    <% end %>
                    <% if params[:action] == "index" %>
                    <%= q.password_field :password, hide_label: true, placeholder: "Password" %>
                    <%= q.password_field :password_confirmation, hide_label: true, placeholder: "Confirm Password" %>
                    <% end %>
                    <% end %>
                    <div class="actions">
                        <%= f.submit %>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="content-container">
                <div class="moving-content">
                    <h2>Publish your thoughts...</h2>
                </div>
            </div>
        </div>
    </section>
</main>