<div class="form-container">
<%= bootstrap_form_for([@blog, @style], layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :layout, [["traditional", "traditional"], ["flat_layout", "flat_layout"]], { label: "Layout:" } %>


    <%= f.text_field :header_image %>


<%= f.select :color_theme, [["blue_theme", "blue_theme"], ["grey_theme", "grey_theme"], ["red_theme", "red_theme"], ["all_white", "all_white"], ["periwinkle", "periwinkle"], ["sky_blue", "sky_blue"], ["all_white", "all_white"]], { label: "Color Theme:" } %>

<%= f.select :font_family, [["Nunito", "nunito"], ["Josefin", "josefin"], ["Rachels Pick", "rachels-pick"]], { label: "Font Family:" } %>

<%= f.select :font_size, [["extra-small-font", "extra-small-font"], ["small-font", "small-font"], ["medium-font", "medium-font"], ["large-font", "large-font"], ["extra-large-font", "extra-large-font"]], { label: "Font Size:" } %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
