<%= bootstrap_form_for([@blog, @style], layout: :horizontal) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :layout, [["traditional", "traditional"], ["flat_layout", "flat_layout"]], { label: "Layout:" } %>


    <%= f.text_field :header_image %>

    <%= f.text_field :color_theme %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
