<%= bootstrap_form_for([@blog, @style], layout: :horizontal) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :layout, [["traditional", "traditional"], ["flat_layout", "flat_layout"]], { label: "Layout:" } %>


    <%= f.text_field :header_image %>


<%= f.select :color_theme, [["blue_theme", "blue_theme"], ["grey_theme", "grey_theme"], ["red_theme", "red_theme"], ["all_white", "all_white"], ["periwinkle", "periwinkle"]], { label: "Color Theme:" } %>

<%= f.select :font_size, [["12px", "12px"], ["14px", "14px"], ["16px", "16px"], ["18px", "18px"], ["20px", "20px"]], { label: "Font Size:" } %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
