<div class="form-container">
<%= bootstrap_form_for([@blog, @style], layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :layout, [["Traditional", "traditional"], ["Flat", "flat_layout"]], { label: "Layout:" } %>


    <%= f.text_field :header_image %>


<%= f.select :color_theme, [["Blue Theme", "blue_theme"], ["Gray Theme", "grey_theme"], ["Red Theme", "red_theme"], ["All White", "all_white"], ["Periwinkle", "periwinkle"], ["Sky Blue", "sky_blue"], ["Earthy Theme", "earthy_theme"]], { label: "Color Theme:" } %>

<%= f.select :font_family, [["Nunito", "nunito"], ["Josefin", "josefin"], ["Rachels Pick", "rachels-pick"]], { label: "Font Family:" } %>

<%= f.select :font_size, [["extra small", "extra-small-font"], ["small", "small-font"], ["medium", "medium-font"], ["large", "large-font"], ["extra large", "extra-large-font"]], { label: "Font Size:" } %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
