

      <% content_for(:title, "Blog Posts") %>
      <div class="blog-header">

        <h1><%= link_to @blog.blog_name, blog_path(@blog) %></h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

            <% @blog.posts.each do |post| %>

 <div class="blog-post">
            <h2><%= link_to post.title, blog_post_path(@blog, post) %></h2>
            <p class="blog-post-meta">Written on <%= post.created_at.strftime("%B %y, %Y") %> by <a href="#"><%= @user.name %></a></p>
        <p class="blog-post-text"><%=raw post.body %></p>
        <%= link_to 'Edit', edit_blog_post_path(@blog, post) %> |
        <%= link_to 'Delete', blog_post_path(@blog, post), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>



      <% end %>

<p id="notice"><%= notice %></p>


        <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>





