                <div class="blog-header">

        <h1><%= link_to full_title(page_title), blog_path(@blog) %></h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

          <div class="blog-post">
            <h2><%= @post.title %></h2>
            <p class="blog-post-meta"><%= @post.created_at %> by <a href="#"><%= @user.name %></a></p>
    		<p><%= @post.body %></p>
    		<%= link_to 'Edit', edit_blog_post_path(@blog, @post) %> |
			<%= link_to 'Back', blog_path(@blog) %>
        <%= link_to 'Destroy', blog_post_path(@blog, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
<p id="notice"><%= notice %></p>

        <%= link_to 'New Comment', new_blog_post_comment_path(@blog, @post, @comment) %>
<h2>Listing Comments</h2>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.blog_id %></td>
        <td><%= link_to 'Show', @comment %></td>
        <td><%= link_to 'Edit', edit_blog_post_comment_path(@blog, @post, comment)  %></td>
        <td><%= link_to 'Destroy', blog_post_comment_path(@blog, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
        <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

