                <div class="blog-header">

        <h1><%= link_to full_title(page_title), blog_path(@blog) %></h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

          <div class="blog-post">
            <h2><%= @post.title %></h2>
            <p class="blog-post-meta">Written on <%= @post.created_at.strftime("%B %y, %Y") %> by <a href="#"><%= @user.name %></a></p>
    		<p><%=raw @post.body %></p>
            <%= link_to 'Back', blog_path(@blog) %> |
    		<%= link_to 'Edit', edit_blog_post_path(@blog, @post) %> |
            <%= link_to 'Delete', blog_post_path(@blog, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
<p id="notice"><%= notice %></p>

<p>&nbsp;</p>

<h2>Listing Comments</h2>
        <button class="btn btn-default"><%= link_to 'New Comment', new_blog_post_comment_path(@blog, @post, @comment) %></button>
<hr>
    <% @comments.each do |comment| %>
    <div class="comments">
        <%= comment.comment %>
        <%= comment.blog_id %>
        <br>

        <%= link_to 'Show', blog_post_comment_path(@blog, @post, comment) %> |
        <%= link_to 'Edit', edit_blog_post_comment_path(@blog, @post, comment)  %> |
        <%= link_to 'Delete', blog_post_comment_path(@blog, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>
    </div>
    <% end %>

</div>
        <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

