<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <style>
  p {
  	font-size: <%= font_size %>;
  }
  </style>
</head>
<link href='https://fonts.googleapis.com/css?family=Roboto|Cabin|Nunito|Josefin+Sans:400,700,600,300,100|Signika|Cuprum' rel='stylesheet' type='text/css'>
<body data-no-turbolink id="<%= layout %>" class="<%= color %> nunito medium-font">


<%= yield %>
      <%= debug(params) if Rails.env.development? %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>
