<!DOCTYPE html>
<html>
<head>
  <title>OnlineJournal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">About</a>
          <a class="blog-nav-item" href="#">Contact</a>

           <% if signed_in? %>
          <%= link_to "Log out", logout_path, method: "delete" %>
          <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>


        </nav>
      </div>
    </div>

    <div class="container">


<%= yield %>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>
