<%= render 'shared/trad_navigation' %>

<div class="content container">
hi this is the traditional new way

      <div class="blog-header">

        <h1 class="blog-title"><%= @blog.blog_name %> <%= @style.layout %></h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

<%= yield %>
</div>

<%= render 'shared/sidebar' %>
</div>
</div>

<%=  parent_layout('application') %>